.header-top
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  padding: 16px 0 33px 0
.logo
  margin-right: 25px
  &__image
    width: 161px
.header-text
  display: block
  margin-right: auto
  max-width: 222px
  font-size: 13px
  line-height: 16px
.contacts
  display: flex
  align-items: center
  margin-right: 26px
  &__icon
    margin-right: 8px
  &__city
    display: block
    margin-bottom: 4px
    font-weight: 300
    font-size: 13px
    line-height: 16px
  &__phone
    display: block
    font-weight: 700
    font-size: 18px
    line-height: 16px
.buttons
  display: flex
  align-items: center
  & :last-child
    margin-right: 0
  &__btn
    padding: 10px 22px
    margin-right: 11px
    font-weight: 500
    font-size: 13px
    line-height: 16px
    color: #6b92cb
    background-color: transparent
    border: 1px solid #6b92cb
    border-radius: 4px
    cursor: pointer
    &:hover
      font-weight: 500
      color: #ffffff
      background: linear-gradient(#ff8228 0%, #ff4f04 64.02%, #ff4900 100%)
      border-color: #ff8228

